/* Banner.css */

.banner {
    height: 448px;
    color: white;
    object-fit: contain;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background-size: cover;
    background-position: center;
  }
  
  .banner__contents {
    position: relative;
    z-index: 1;
  }
  
  .banner__title {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  
  .banner__buttons {
    margin-top: 20px;
  }
  
  .banner__button {
    cursor: pointer;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    background-color: rgba(51, 51, 51, 0.5);
    transition: background-color 0.2s;
    border-radius: 5px;
  }
  
  .banner__button:hover {
    background-color: white;
    color: black;
  }
  
  .banner__fadeBottom {
    height: 7.4rem;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    width: 100%;
  }